# Conversiones de los DF

In [1]:
import pandas as pd

f_Reviews = 'data//Reviews.csv'
df_reviews = pd.read_csv(f_Reviews)
display(df_reviews.head(3))

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."

Algunas pruebas para saber como esta constituido el archivo reviews

In [2]:
import ast #convierte la lista de diccionarios

# Obtener el primer registro de la columna 'items' (es una cadena)
primer_registro_str = df_reviews['reviews'][0]
print("Tipo del registro en crudo: ",type(primer_registro_str))

# Convertir la cadena en una lista
primer_registro_lista = ast.literal_eval(primer_registro_str)
print("Tipo de regestro aplicando ast: ",type(primer_registro_lista))
#print("Tamaño de la lista: ",len(primer_registro_lista) )
print(primer_registro_lista)

# Acceder al primer diccionario en la lista
primer_diccionario = primer_registro_lista[0]
print("El diccionario 0: ",primer_diccionario)
# Obtener la lista de llaves del primer diccionario
lista_de_llaves = list(primer_diccionario.keys())

# Imprimir la lista de llaves
print(lista_de_llaves)

Tipo del registro en crudo:  <class 'str'>
Tipo de regestro aplicando ast:  <class 'list'>
[{'funny': '', 'posted': 'Posted November 5, 2011.', 'last_edited': '', 'item_id': '1250', 'helpful': 'No ratings yet', 'recommend': True, 'review': 'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.'}, {'funny': '', 'posted': 'Posted July 15, 2011.', 'last_edited': '', 'item_id': '22200', 'helpful': 'No ratings yet', 'recommend': True, 'review': "It's unique and worth a playthrough."}, {'funny': '', 'posted': 'Posted April 21, 2011.', 'last_edited': '', 'item_id': '43110', 'helpful': 'No ratings yet', 'recommend': True, 'review': 'Great atmosphere. The gunplay can be a bit chunky at times but at the end of the day this game is definitely worth it and I hope they do a sequel...so buy the game so I get a sequel!'}]
El diccionario 0:  {'funny': '', 'posted': 'Posted November 5, 2011.', 'last_edited': '', 'item_id': '1250', 'helpful': 'No ratings yet', 'recommend': True, 'review': 'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.'}
['funny', 'posted', 'last_edited', 'item_id', 'helpful', 'recommend', 'review']

Aquí encontramos que **'reviews'** contiene una lista de diccionarios que a su vez contiene 7 llaves : ['funny', 'posted', 'last_edited', 'item_id', 'helpful', 'recommend', 'review'], las cuales las volveremos columnas

In [3]:
# Primero, convierte el contenido de la columna 'items' en una lista de diccionarios
df_reviews['reviews'] = df_reviews['reviews'].apply(lambda x: ast.literal_eval(x))
display(df_reviews.head(3))

#Pongo los nombres de las columnas en una lista
columnas1 = list(df_reviews.columns)
url = 'user_url'
columnas1 = [elemento for elemento in columnas1 if elemento != url]

print("Nombres de columnas: ",columnas1)
df_reviews.head(2)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."

Nombres de columnas:  ['user_id', 'reviews']

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."

In [4]:
# Acceder al primer diccionario en la lista
diccionario = df_reviews['reviews'][0]
print(type(diccionario))
print("El diccionario 0: ",diccionario)
# Obtener la lista de llaves del primer diccionario
claves = list(diccionario[0].keys())
print(claves)

<class 'list'>
El diccionario 0:  [{'funny': '', 'posted': 'Posted November 5, 2011.', 'last_edited': '', 'item_id': '1250', 'helpful': 'No ratings yet', 'recommend': True, 'review': 'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.'}, {'funny': '', 'posted': 'Posted July 15, 2011.', 'last_edited': '', 'item_id': '22200', 'helpful': 'No ratings yet', 'recommend': True, 'review': "It's unique and worth a playthrough."}, {'funny': '', 'posted': 'Posted April 21, 2011.', 'last_edited': '', 'item_id': '43110', 'helpful': 'No ratings yet', 'recommend': True, 'review': 'Great atmosphere. The gunplay can be a bit chunky at times but at the end of the day this game is definitely worth it and I hope they do a sequel...so buy the game so I get a sequel!'}]
['funny', 'posted', 'last_edited', 'item_id', 'helpful', 'recommend', 'review']

In [5]:
#Borro el nombre de la columna con los diccionarios
columnas1.remove('reviews')
print(columnas1)

['user_id']

Creo un nuevo DF, recorrinedo todo el DF y añadiendo un registro por cada llave

In [6]:
# Inicializamos una lista para almacenar los registros
nuevos_registros = []

# Iteramos a través de cada fila del DataFrame df_items
for index, row in df_reviews.iterrows():
    user_id = row['user_id']
    user_url = row['user_url']
    items_list = row['reviews']
    
    # Iteramos a través de la lista de diccionarios en la columna 'reviews'
    for item in items_list:
        nuevo_registro = {
            'user_id' : user_id,
            'funny': item['funny'],
            'posted': item['posted'],
            'last_edited': item['last_edited'],
            'item_id': item['item_id'],
            'helpful': item['helpful'],
            'recommend': item['recommend'],
            'review': item['review']
        }
        nuevos_registros.append(nuevo_registro)

# Creamos un nuevo DataFrame a partir de la lista de registros
nuevo_df = pd.DataFrame(nuevos_registros)

total = len(nuevo_df)
print("Total de registros: ",total)
display(nuevo_df.head(2))

Total de registros:  59305

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.

La columna **posted** tiene una fecha mezclada con la palabra posted. Debo de eliminar la palabra y convertir en fecha la cadena

In [7]:
df1 = nuevo_df.copy()

# Limpiar los espacios en blanco al principio de la columna 'Texto'
df1['posted'] = df1['posted'].str.strip()
# Eliminar "Posted" de la columna 'FechaTexto' y convertir en fecha
df1['posted'] = df1['posted'].str.replace('Posted', '')
#Eliminar el punto de la columna 'posted'
df1['posted'] = df1['posted'].str.replace('.', '')

total = len(df1)
print("Total de registros: ",total)
display(df1.head(2))

Total de registros:  59305

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,,"November 5, 2011",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,,"July 15, 2011",,22200,No ratings yet,True,It's unique and worth a playthrough.

Se va a convertir la cadena de la fecha en una fecha y como encontre algunas fechas que estan sin el año y son pocas las voy a eliminar. Tambien voy a guardar el nuevo dataframe ya desanidado

In [8]:
import numpy as np
df = df1.copy() 

# Crear un nuevo DataFrame con los mismos nombres de columnas
df_errores = pd.DataFrame(columns=['posted'])


# Iterar sobre las filas y tratar de convertir 'posted' a 'fecha'
for idx, row in df.iterrows():
    try:
        fecha = pd.to_datetime(row['posted'], format=' %B %d, %Y')
        df.at[idx, 'fecha'] = fecha
    except ValueError:
        df.at[idx, 'fecha'] = np.nan
        # Agregar el registro con error al DataFrame de errores
        df_errores = pd.concat([df_errores, pd.DataFrame({'posted': [row['posted']]})], ignore_index=True)
        pass
#Elimina todos los registros que tienen error en la fecha
df = df.dropna(subset=['fecha'])

#eliminar la columna posted
df = df.drop('posted', axis=1)
#Renombro fecha a posted
df.rename(columns={'fecha': 'posted'}, inplace=True)

total = len(df)
print("Total de registros despues de eliminar fechas con error")
print("Total: ",total)
display(df.head(2))

Total de registros despues de eliminar fechas con error
Total:  49186

,user_id,funny,last_edited,item_id,helpful,recommend,review,posted
0,76561197970982479,,,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2011-11-05
1,76561197970982479,,,22200,No ratings yet,True,It's unique and worth a playthrough.,2011-07-15

Lista de errores en la fecha

In [9]:
df_errores

            posted
0       February 3
1           May 20
2          July 24
3          June 16
4          June 11
...            ...
10114      July 10
10115       July 8
10116       July 3
10117      July 20
10118       July 2

[10119 rows x 1 columns]

In [31]:
#df_copia = df.copy()

In [33]:
#df = df_copia.copy()

### Buscando Duplicados en todo el registro

In [9]:
# Registros duplicados
duplicados = df[df.duplicated(keep=False)]
total_duplicados = len(duplicados)
total = len(df)

# Imprimir los registros duplicados
print("Conteo de registros antes de eliminar los duplicados")
print("Total de registros :", total)
print("Total de duplicados: ",total_duplicados)

#Elimino los duplicados
df = df.drop_duplicates()

# Contar el total de registros
total = len(df)
print("Nuevo total de registros :", total)

df.head(2)

Conteo de registros antes de eliminar los duplicados
Total de registros : 49186
Total de duplicados:  1370
Nuevo total de registros : 48498

Elimino los valores nulos y me aseguro que la columna 'review' sea texto

In [11]:
total = len(df)
# Eliminar filas con valores NaN en la columna 'review'
df.dropna(subset=['review'], inplace=True)

# Convertir toda la columna 'review' a cadenas
df['review'] = df['review'].astype(str)

# Contar el total de registros
print("Total de registros :", total)
total = len(df)
print("Nuevo total de registros :", total)

Total de registros : 48498
Nuevo total de registros : 48498

Ahora busco comentarios vacios y duplicados

In [13]:
total = len(df)
print("tamaño del df: ",total)

# Eliminar las reseñas vacías en la columna 'review'
df = df.dropna(subset=['review'])
# Calcular la cantidad de registros eliminados
vacios = total - len(df)
df = df.drop_duplicates(subset=['review'])
duplicados = total - len(df)

print(f'Vacios: {vacios}  Duplicados: {duplicados} // Total eliminados: {vacios+duplicados}')

df.head(0)

tamaño del df:  48498
Vacios: 0  Duplicados: 2554 // Total eliminados: 2554

Empty DataFrame
Columns: [user_id, funny, last_edited, item_id, helpful, recommend, review, posted]
Index: []

Guarda el Archivo

In [14]:
# Guardar el DataFrame en un archivo CSV
total = len(df)
print("Total de registros: ",total)
df.to_csv('data//Reviews(Transf).csv', index=False)

Total de registros:  45944